<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Collection</title>
    <link rel="stylesheet" href="/css/output.css?v=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            overflow-x: hidden;
        }

        main {

            max-width: 90vw;

            margin: auto;
        }

        #collection {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: center;
            gap: 3rem;
        }

        #tittle_img {
            height: 15rem;
        }
    </style>
</head>


<body>

    <header>
        <nav class="flex justify-around items-center  w-[100vw] h-[15vh] mx-[7.6]">
            <div class="navleft flex flex-col flex- tracking-widest w-[8%] h-[13vh] ">
                <span>The</span>
                <span>Movie</span>
                <span>Tracker</span>
            </div>
            <div class="navright w-[60%] relative flex justify-between items-center">
                <input type="Search" id="search"
                    class=" outline-none h-[6.5vh] w-[35vw] bg-[rgb(217,217,217)] text-center rounded-3xl inter text-black  "
                    placeholder="Search a Movie or a Series">

                <img id="imgbtn" src="/resources/img/search.png"
                    class="hover:cursor-pointer h-9 absolute left-[2%] bottom-[11%]" alt="">
                <span><img id="loader" src="/resources/img/loading.png" alt=""
                        class="   h-9 absolute right-[30%] bottom-[11%] "></span>
                <div class="saveinnav">
                    <div class="savewatch flex items-center justify-center gap-2 w-[13vw] h-10 rounded-2xl">
                        <span class="">
                            <img src="/resources/img/bookmark-white.png" alt="" class="h-5">
                        </span>
                        <span id="addwatchlist" class="inter font-bold">Add to watchlist</span>
                    </div>
                </div>
            </div>

        </nav>
    </header>
    <main class=" mt-4 flex justify-around items-center h-[70vh]">

        <button id="bt1"
            class=" bg-blue-500 inter rounded-2xl text-black w-28 h-10  text-center hover:cursor-pointer hover:bg-slate-500 hover:text-white   ">prev</button>
        <div id="collection">


        </div>
        <button id="bt2"
            class=" bg-blue-500 inter rounded-2xl text-black w-28 h-10 text-center hover:cursor-pointer hover:bg-slate-500 hover:text-white ">next</button>


    </main>
    <script>
        let collection = document.getElementById('collection');
        let bt1 = document.getElementById('bt1');
        let bt2 = document.getElementById('bt2');
        let currentIndex = 1;
        const itemPerPage = 2;

        let imgSrc = [];
        for (let i = 0; i < localStorage.length; i++) {
            let key = localStorage.key(i)
            let value = localStorage.getItem(key);
            imgSrc.push(value);

        }
        const totalPage = Math.ceil(imgSrc.length / itemPerPage);
        function numberButton(index) {
        

        }


        function displayIndex(page) {
            const startIndex = (page - 1) * itemPerPage;
            const endIndex = page * itemPerPage;
            const item = imgSrc.slice(startIndex, endIndex);

            collection.innerHTML = ' ';
            item.forEach((items) => {

                collection.innerHTML += `<img src="${items}">`

            })


        }
        function directionBtn(direction) {

            if (direction === "next" && currentIndex < totalPage) {
                currentIndex++;
            }
            else if (direction === "prev" && currentIndex > 1) {
                currentIndex--;
            }
            displayIndex(currentIndex);
        }

        bt1.addEventListener('click', () => directionBtn('prev'));
        bt2.addEventListener('click', () => directionBtn('next'));
        displayIndex(currentIndex);
    </script>
</body>

</html>